<div class="container">
  <h1>Todo List</h1>

  <div class="panel">
    <div>
      <input type="text" [(ngModel)]="newTodo" placeholder="What's next?...">
      <button (click)="addTodo()">Add Todo</button>
    </div>
  </div>

  <div class="card">
    <ul>
      <li [class.done]="todo.done" *ngFor="let todo of todoList | async | visibleTodos:currentFilter"
        [style.textDecoration]="todo.done?'line-through':'none'">
        <input type="checkbox" [checked]="todo.done" (change)="toggleTodo(todo)">
        <i (click)="deleteTodo(todo)" style="cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-trash"
            viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
          </svg>
        </i>
        {{todo.description}}
      </li>
    </ul>
  </div>

  <div class="panel">
    <button (click)="filterTodos('all')"
      [ngClass]="{'active': currentFilter==='all', 'inactive': currentFilter!='all'}">All</button>
    <button (click)="filterTodos('active');"
      [ngClass]="{'active': currentFilter==='active', 'inactive': currentFilter!='active'}">Active</button>
    <button (click)="filterTodos('completed');"
      [ngClass]="{'active': currentFilter==='completed', 'inactive': currentFilter!='completed'}">Completed
    </button>
  </div>

  <div class="panel" style="text-align: end;">
    <button (click)="deleteAllTodos()">Clear All</button>
  </div>

</div>